@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary-color: #ffbbdb;
    --secondary-color: #7c1c39;
}

*,
*::before,
*::after {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins',
        sans-serif;
    min-height: 100vh;
    flex-direction: column;
}

header {
    min-height: 15vh;
    margin: 1rem;
    display: grid;
    place-items: center;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 65vh;
    padding: 1rem;
}

a {
    text-decoration: none;
}

input, button {
    padding: 1rem;
    font-size: 1rem;
}

input[type="radio"] {
    cursor: pointer;
}

label {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
}

.form-content label {
    justify-content: flex-start;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
    border-radius: 0 1rem;
    transition: all 0.1s ease-in;
    margin: 1rem 0;
}

button:hover {
    background-color: var(--secondary-color);
    color: white;
}

i {
    color: white;
    cursor: pointer;
}

.back-btn {
    width: 90%;
    text-align: center;
}

.formula-content {
    border: 2.5px solid var(--secondary-color);
    border-radius: 0.5rem;
    display: block;
    padding: 0.25rem;
    margin: 0.5rem 0;
}

.-active {
    display: flex !important;
    justify-content: space-around;
    align-items: center;
}

.card-container {
    min-height: 20vh;
    width: 20rem;
    display: flex;
    margin: 1rem;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    justify-content: space-evenly;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 20% 0;
    transition: all 0.2s ease-in;
    text-decoration: none;
}

.card-container:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.site-content {
    min-height: 50vh;
    width: 50vw;
    display: flex;
    margin: 1rem;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 0 20%;
}

.-quiz-content {
    width: 90%;
    padding: 1rem;
}

.form-content {
    display: flex;
    margin: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.options-content {
    width: 90%;
}

footer {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--secondary-color);
    color: white;
}

ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

ul li {
    list-style: none;
}

@media screen and (max-width: 768px) {
    input,button {
        padding: 0.5rem;
    }

    label {
        flex-direction: column;
    }

    .site-content {
        width: 90%;
    }
    
}

