@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary-color: #89ade4;
    --secondary-color: #5793ec;
}

*,
*::before,
*::after {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins',
        sans-serif;
    min-height: 100vh;
    flex-direction: column;
}

header {
    min-height: 15vh;
    display: grid;
    place-items: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 65vh;
}

a {
    text-decoration: none;
}

input, button {
    padding: 1rem;
    font-size: 1rem;
}

label {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0.25rem;
}

button {
    cursor: pointer;
    border-radius: 1rem 0;
    transition: all 0.1s ease-in;
    margin: 2rem 0 0;
}

button:hover {
    background-color: var(--secondary-color);
    color: white;
}

i {
    color: white;
    cursor: pointer;
}

.back-btn {
    position: absolute;
    width: 92%;
}

.-active {
    display: flex !important;
    justify-content: space-around;
    align-items: center;
}

.card-container {
    min-height: 20vh;
    width: 20rem;
    display: flex;
    margin: 1rem;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    justify-content: space-evenly;
    background-color: var(--primary-color);
    color: white;
    border-radius: 20% 0;
    transition: all 0.2s ease-in;
    text-decoration: none;
}

.card-container:hover {
    background-color: var(--secondary-color);
}

.site-content {
    min-height: 50vh;
    width: 50rem;
    display: flex;
    margin: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--primary-color);
    color: white;
    border-radius: 20% 0;
}

.form-content {
    display: flex;
    margin: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.options-content {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--secondary-color);
}

ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

ul li {
    list-style: none;
}

